<h1>Edit Task</h1>
<h2><%= @task.name %></h2>

<%= form_with model: @task do |f|%>
    <p>Enter task details: </p>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :completion_date %>
    <%= f.text_field :completion_date%>

    <%= f.label :status %>
    <%= f.text_field :status %>

    <%= f.submit "Save Task", class: "edit-task-button" %>
<%end%>
