<ol class="task-list">
  <h2>Tasks</h2>

  <% @tasks.each do |task| %>
    <li id="task"><%= link_to task.name, task_path(task.id) %></li>

    <%= link_to "Edit", edit_task_path(task.id)%>
    <%= link_to "Delete", task_path(task.id), method: :delete,
    data: { confirm: 'Are you sure you want to delete?'}, class: 'button'%>

    <% if task.status == false %>
      <%= link_to "Mark Complete", completed_task_path(task.id), method: :patch, id: 'task-complete'%>
    <% else %>
      <%= link_to "Mark Incomplete", completed_task_path(task.id), method: :patch%>
    <%end%>
  <%end%>


</ol>
