<h1>Add New Task</h1>
<%= form_with model: @task do |f|%>
    <p>Provide the details of the new task.</p>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :completion_date %>
    <%= f.text_field :completion_date%>

    <%= f.label :status %>
    <%= f.text_field :status %>
    <!-- consider doing radio button options, how would that change my code, do i need a new table colum for this.  -->

    <%= f.submit "Save Task", class: "task-button" %>
<%end%>
