<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>




<body>

<section class="wrapper">
  <header>
    <h1>My Task List</h1>
  </header>

  <aside>
    <nav>
      <ul>
        <li>
          <%= link_to "Home", "/", id: "home-link" %>
        </li>
        <li>
          <%= link_to "All Tasks", tasks_path %>
        </li>
        <li>
          <a href ="<%= new_task_path %>">Add Task</a>
        </li>
      </ul>
    </nav>
</aside>


  <main>
    <%= yield %>
  </main>

  <footer>
  </footer>
</section>
</body>

</html>
